<form class="search-form search-form_spacing_outer" id="searchForm" novalidate>
  <input class="search-form__input" name="chat_search" type="text" placeholder="Поиск" maxlength="32" required>
</form>
