.user-message {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  row-gap: 5px;
}

.user-message__container {
  display: flex;
  background-color: #202020;
  border-radius: 7px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  color: #fff;
}

.user-message__send-time {
  align-self: flex-end;
  margin: 0;
  font-size: 10px;
  color: #000;
  line-height: 1;
}