<a href="https://yandex.ru/maps/?ll={{content}}&z=12&l=map" target="_blank" class="location-message">
  <div class="location-message__icon{{#if user}} location-message__icon_type_user{{/if}}"></div>
  <p class="location-message__hint">Показать на карте</p>
</a>