.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "personal password";
  height: 100vh;
}

.profile__personal {
  grid-area: personal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-additional-primary);
}

.profile__return-url {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  margin: 45px 0 0 35px;
  text-decoration: none;
}

.profile__return-url:hover {
  opacity: .8;
}

.profile__return-icon {
  width: 14px;
  height: 8px;
  background-color: var(--font-main-secondary);
  mask-image: url(../../images/profile__return-icon.svg);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.profile__heading {
  margin: 0 0 0 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--font-main-primary);
  line-height: 1;
}

.profile__personal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
  --input-text-secondary: var(--font-main-primary, #f5f5f5);
  --input-title-color: var(--font-main-primary, #fff);
  --form-button-font: #202020;
  --form-button-background: #f5f5f5;
  --form-button-border-radius: 3px;
}

.profile__avatar-container {
  display: flex;
  margin: 0 0 52px;
  cursor: pointer;
  position: relative;
}

.profile__avatar-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-additional-primary);
  border-radius: 50%;
  user-select: none;
  opacity: 0;
}

.profile__avatar-overlay:hover {
  opacity: .7;
}

.profile__overlay-text {
  font-size: 10px;
  color: var(--font-main-primary);
  line-height: 1;
}

.profile__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile__password {
  grid-area: password;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main-primary);
  position: relative;
}

.profile__theme-change {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: var(--background-additional-secondary);
  mask-image: url(../../images/profile__theme-icon_type_light.svg);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: .4s;
}

.profile__theme-change:hover {
  transform: rotateZ(180deg);
  opacity: .8;
}

.profile__theme-change_theme_dark {
  mask-image: url(../../images/profile__theme-icon_type_dark.svg);
}


.profile__password-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}