.group-users-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px;
  padding: 0;
  width: calc(100% - 12px);
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color-secondary) var(--scrollbar-background-secondary);
  scrollbar-gutter: stable;
  overflow-x: hidden;
  overflow-y: scroll;
}

.group-users-list::-webkit-scrollbar {
  width: 5px;
}

.group-users-list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-background-tertiary);
  border-radius: 5px;
}

.group-users-list::-webkit-scrollbar-track {
  margin: 5px 0;
}
