<div class="video-message">
  <div class="video-message__overlay">
    <button class="video-message__play-button"></button>
  </div>
  <video src="{{content}}" class="video-message__video"></video>
</div>
