<div class="upload-popup">
  <div class="upload-popup__overlay"></div>
  <div class="upload-popup__container">
    <div class="upload-popup__drop-zone">
      <h2 class="upload-popup__title">{{title}}</h2>
      <p class="upload-popup__hint">{{hint}}</p>
      <button class="upload-popup__button">{{button}}</button>
      <p class="upload-popup__error">Ошибка</p>
    </div>
  </div>
</div>
