<a href="https://yandex.ru/maps/?ll={{content}}&z=12&l=map" target="_blank" class="location-message">
  <div class="location-message__icon"></div>
  <p class="location-message__hint">Показать на карте</p>
</a>
