<aside class="side-panel">
  <div class="side-panel__content">
    <div class="side-panel__container">
      <button class="side-panel__delete-chat">Удалить чат</button>
      <h2 class="side-panel__title">Пользователи</h2>
      <ul class="side-panel__users">
        {{#each groupMembers}}
        <li class="side-panel__user">
          <img src="{{this.avatar}}" alt="Аватар пользователя {{this.name}}." class="side-panel__avatar">
          <h3 class="side-panel__user-name">{{this.name}}</h3>
          {{#unless this.owner}}<button class="side-panel__remove-user" type="button"></button>{{/unless}}
        </li>
        {{/each}}
      </ul>
    </div>
    <form class="side-panel__form" novalidate>
      <span class="side-panel__form-error"></span>
      <label class="side-panel__input-container">
        <span class="side-panel__input-title">Добавление пользователя</span>
        <input type="text" name="add-user" class="side-panel__input" minlength="3" maxlength="20" required>
        <span class="side-panel__input-error"></span>
      </label>
      <button class="side-panel__form-button" type="submit">Добавить</button>
    </form>
  </div>
  <button class="side-panel__button" type="button"></button>
</aside>