<div class="popup-attach">
  <ul class="popup-attach__options">
    <li class="popup-attach__item">
      <button class="popup-attach__option popup-attach__option_type_graphics" type="button">
        <div class="popup-attach__icon popup-attach__icon_type_graphics"></div>
        <p class="popup-attach__name">Фото или Видео</p>
      </button>
    </li>
    <li class="popup-attach__item">
      <button class="popup-attach__option popup-attach__option_type_file" type="button">
        <div class="popup-attach__icon popup-attach__icon_type_file"></div>
        <p class="popup-attach__name">Файл</p>
      </button>
    </li>
    <li class="popup-attach__item">
      <button class="popup-attach__option popup-attach__option_type_location" type="button">
        <div class="popup-attach__icon popup-attach__icon_type_location"></div>
        <p class="popup-attach__name">Локация</p>
      </button>
    </li>
  </ul>
</div>
