.main {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr;
  grid-template-areas:
    "navigation chat";
  column-gap: 6px;
  height: 100vh;
  background-color: #202020;
}