.video-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.video-message__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - (10px * 2));
  height: calc(100% - (10px *2));
  background-color: #202020;
  border-radius: 7px;
  opacity: 0;
  transition: .4s;
}

.video-message__overlay_type_user {
  background-color: #f5f5f5;
}

.video-message__overlay:hover {
  opacity: .8;
}

.video-message__play-button {
  padding: 0;
  width: 24px;
  height: 27px;
  background-color: transparent;
  background-image: url(../../../../../../images/video-message__play-button.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: .4s;
}

.video-message__play-button:hover {
  opacity: .8;
}

.video-message__play-button_type_user {
  filter: brightness(1) invert(1);
}

.video-message__video {
  max-height: 180px;
  height: 100%;
  max-width: 320px;
  width: 100%;
  border-radius: 7px;
}