<a href="{{value}}" target="_blank" class="file-message">
  <div class="file-message__icon{{#if user}} file-message__icon_type_user{{/if}}"></div>
  <p class="file-message__file-name">{{fileName}}</p>
</a>