.file-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 121px;
  text-decoration: none;
}

.file-message__icon {
  width: 55px;
  height: 63px;
  background-image: url(../../../../../../images/file-message__icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.file-message__icon_type_user {
  filter: brightness(0) invert(1);
}

.file-message__file-name {
  margin: 10px 0 0;
  font-size: 10px;
  color: #000;
  line-height: 1;
}