<form id="avatarForm" class="avatar">
  <label class="avatar__label">
    <input type="file" class="avatar__upload-input" accept="image/*">
    <div class="avatar__overlay">
      <span class="avatar__overlay-text">Изменить аватар</span>
    </div>
    <img src="{{avatar}}" alt="Аватар профиля пользователя." class="avatar__image">
  </label>
</form>
