<nav class="app-navigation">
  <ul class="app-navigation__links">
    <li class="app-navigation__link-item">
      <a href="./signin" class="app-navigation__link">Авторизация</a>
    </li>
    <li class="app-navigation__link-item">
      <a href="./signup" class="app-navigation__link">Регистрация</a>
    </li>
    <li class="app-navigation__link-item">
      <a href="./" class="app-navigation__link">Страница чата</a>
    </li>
    <li class="app-navigation__link-item">
      <a href="./profile" class="app-navigation__link">Редактирование профиля</a>
    </li>
  </ul>
</nav>
