.chat-controls {
  grid-area: chat-controls;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-height: 59px;
  max-height: 30vh;
  position: relative;
}

.chat-controls__attach-btn {
  margin: 0 11px 17px 10px;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: var(--background-main-quaternary);
  mask-image: url(../../../../images/chat-control__attach-btn-icon.svg);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: .4s;
}

.chat-controls__attach-btn:hover {
  opacity: .8;
}