<div class="chat-controls">
  <button class="chat-controls__attach-btn" type="button"></button>
  <form class="chat-controls__form" id="chat-controls" novalidate>
    <textarea class="chat-controls__textarea" name="message" rows="1" placeholder="Сообщение" required minlength="1"
      maxlength="1500"></textarea>
    <button class="chat-controls__send-btn" type="submit"></button>
  </form>
  {{{popup}}}
</div>