<div class="popup-error{{#if code}} popup-error_opened{{/if}}">
  <div class="popup-error__container">
    <p class="popup-error__title">К сожалению, при выполнении запроса произошла ошибка.</p>
    <p class="popup-error__description">{{reason}}</p>
    <p class="popup-error__code">{{code}}</p>
  </div>
</div>
