.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202020;
}

.register__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  max-width: 448px;
  min-height: 690px;
  background-color: #fff;
  border-radius: 15px;
}