<li class="user-card{{#if isActive}} user-card_selected{{/if}}">
  <img src="{{avatar}}" alt="{{userName}}." class="user-card__avatar">
  <div class="user-card__info">
    <h2 class="user-card__username">{{userName}}</h2>
    <p class="user-card__login">Логин: {{userLogin}}</p>
  </div>
</li>
