<div class="chat-info">
  <h2 class="chat-info__title">Вы ещё не добавили ни одного пользовтеля</h2>
  <p class="chat-info__subtitle">Исправим?</p>
  <p class="chat-info__hint">Введите имя пользователя в строке поиска</p>
</div>
