<form class="message-form" name="message-form" id="message-form" novalidate>
  <textarea autofocus class="message-form__textarea" name="message" rows="1" placeholder="Сообщение" required minlength="1"
    maxlength="1500"></textarea>
  <button class="message-form__send-btn" type="submit"></button>
</form>
