.message {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  width: fit-content;
  row-gap: 5px;
}

.message_spacing_outer {
  margin-bottom: 25px;
}

.message_type_user {
  align-self: flex-end;
}

.message__sender-info {
  display: flex;
  align-items: center;
}

.message__avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.message__name {
  margin: 0 0 0 5px;
  font-size: 10px;
  font-weight: 400;
  color: var(--font-additional-primary);
  line-height: 1;
}

.message__container {
  --message-color: var(--background-main-secondary);
  --icon-color: var(--font-additional-secondary);
  --text-color: var(--font-additional-primary);
  --overlay-color-primary: var(--background-additional-overlay-primary);
  --overlay-color-secondary: var(--background-additional-overlay-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--message-color);
  border-radius: 7px;
  box-shadow: 0 3px 5px rgba(var(--overlay-color-primary) .05);
}

.message__container_type_user {
  --overlay-color-secondary: var(--background-main-overlay-secondary);
  --icon-color: var(--font-main-secondary);
  --message-color: var(--background-additional-primary);
  --text-color: var(--font-main-primary);
  transition: .3s;
}

.message__container_selected {
  background-color: var(--background-main-tertiary);
  --text-color: var(--font-main-quaternary);
  --icon-color: var(--font-main-quaternary)
}

.message__send-time {
  align-self: flex-end;
  margin: 0;
  font-size: 10px;
  color: var(--font-additional-tertiary);
  line-height: 1;
}
