<main class="chat-stub">
  <div class="chat-stub__container">
    <h2 class="chat-stub__title">Давайте начнём!</h2>
    <p class="chat-stub__hint">Добавьте пользователя и напишите ему первое сообщение, или продолжите уже активную беседу!</p>
  </div>
</main>
