.chat-stub {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main-secondary);
}

.chat-stub__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-stub__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--font-additional-primary);
  line-height: 1;
}

.chat-stub__hint {
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: 400;
  color: var(--font-additional-primary);
  line-height: 1;
}