@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.root {
  padding-left: calc(100vw - 100%);
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}