<header class="header">
  <h1 class="header__chat-title">{{title}}</h1>
  <button class="header__edit-button" type="button"></button>
  <button class="header__delete-message" type="button">Удалить выбранные</button>
</header>
